<div class="about__container">
    <div class="image__section">
        <div class="about__img">
            <img src="assets/sections/profile.webp" alt="about">
        </div>
        <div class="background__img"></div>
    </div>
    <div class="info__container">
        <div class="title">
            <h1>Hey!, soy Julian Sedano</h1>
            <h2>Fotógrafo</h2>
        </div>
        <div class="text">
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. At deserunt odio, doloribus blanditiis inventore voluptas accusamus ab voluptatem cupiditate cumque iure omnis illum reiciendis fuga mollitia consequatur labore. Nesciunt, architecto? Laudantium molestias eveniet voluptatem quibusdam culpa, optio magni consequatur saepe.
        </div>
        <div class="social">
            <div class="media">
                <a href="https://www.instagram.com/juliansedano/" target="_blank" (mouseenter)="detectHover()" (mouseleave)="detectLeave()">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
                <a href="https://www.facebook.com/julian.sedano.7" target="_blank" (mouseenter)="detectHover()" (mouseleave)="detectLeave()">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </a>
                <a href="https://twitter.com/juliansedano" target="_blank" (mouseenter)="detectHover()" (mouseleave)="detectLeave()">
                    <fa-icon [icon]="faTwitter"></fa-icon>                
                </a>
            </div>
            <div class="portfolio" (click)="downloadPDF()" (mouseenter)="detectHover()" (mouseleave)="detectLeave()">
                <!-- here I need to put a pdf to download -->
                <div class="">PORTAFOLIO</div>
            </div>
        </div>
    </div>
</div>