<div class="overlay" [class.active]="overlayActive"></div>
<section class="gallery__container" [@fadeInOut]>
    <div class="gallery__section-cover">
        <div class="photo__container">
            <img src="{{cover.image}}">
        </div>
        <div class="text__container">
            <h1>{{cover.title}}</h1>
        </div>
    </div>
    <div class="gallery-wrapper">
        <div class="gallery-column" #columns *ngFor="let images of imagesPerColumn; let i = index" id="{{i + 1}}">
            <div class="photo-content" *ngFor="let image of images" (mouseenter)="detectImage('')"
                (mouseleave)="detectLeaveImage()">
                <img data-aos="fade-up" data-aos-duration="400" (click)="onPreviewImage(image._id)" [lazyLoad]="image.imageUrl" defaultImage="../../../assets/images/solid.webp">
            </div>
        </div>
    </div>

    <button *ngIf="isMobile && !showMask && isDown" class="booble" (click)="openMenu()">
        <mat-icon>expand_more</mat-icon>
    </button>

    <div *ngIf="!showMask && isDown" [ngClass]="{'nav__desktop': !isMobile, 'nav__mobile': isMobile, 'menuOpen': menuOpen}">       
        <div class="nav__items" (mouseenter)="detectImage('')" (mouseleave)="detectLeaveImage()">
            <div class="nav__item" *ngFor="let button of buttons" [ngClass]="{'active': activeButton === button.id}" (click)="onNavigate(button.id)" >
                    <p >{{button.label | uppercase}}</p>
            </div>
        </div>
    </div>

    <div *ngIf="showMask" class="lightbox__container" @leaveAnimation>
        <span *ngIf="showCount" class="count">{{currentIndex + 1}}/{{totalImages}} </span>
        <div *ngIf="isOnPreview" class="close-btn" (mouseenter)="detectHover()" (mouseleave)="detectLeave()">
            <mat-icon (click)="onClosePreview()">close</mat-icon>
        </div>
        <div class="btn-light-carousel btn-prev">
            <mat-icon (click)="goBack()">chevron_left</mat-icon>
        </div>
        <div class="btn-light-carousel btn-next">
            <mat-icon (click)="goNext()">chevron_right</mat-icon>
        </div>
        <div *ngIf="isOnPreview" class="lightbox__image" [@animation]="{value: 'visible'}"
            (@animation.done)="animationEnd($event)">
            <img [src]="currentImageOnBox.imageUrl" alt="">
        </div>
    </div>
</section>