<div *ngIf="loaded" class="menu-container" [ngClass]="{'showNav': showNav}" #container>
  <div class="title signature" [ngClass]="{'signature-menu': showMenu}" (mouseenter)="detectHover()"
    (mouseleave)="detectLeave()"  routerLink="/">
    <div class="logo">
      <img src="../../../assets/images/bg-ia.png" alt="logo">
    </div>
    <h1 class="title-text" [ngClass]="{'show-title': !isOnTop}">JULIAN SEDANO</h1>
  </div>
  <div class="menu" [ngClass]="{'menu-active': showMenu}" (click)="toggleMenu()" (mouseenter)="detectHover()"
    (mouseleave)="detectLeave()">
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="menu-upper" #menu [ngClass]="{'menu-upper-active': showMenu}" [@menuAnimation]="menuState">

    <div class="routing">
      <a *ngFor="let link of routerLinks" (mouseenter)="detectHover()" (mouseleave)="detectLeave()"
        class="animate__animated animate__fadeInUpBig" [ngClass]="{'animate__fadeOutDownBig': !showMenu}"
        routerLink="/{{link.url}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="getImage(defaultImage)" >{{link.name | uppercase}}</a>
    </div>

    <div class="social-media">
      <a *ngFor="let media of socialMedia" [href]="media.url" target="_blank"
        class="animate__animated animate__fadeInUpBig" [ngClass]="{'animate__fadeOutDownBig': !showMenu}"
        (mouseenter)="detectHover()" (mouseleave)="detectLeave()">{{media.name | uppercase}}</a>
    </div>
  </div>
</div>